*.fxml.bak
/vogon-packaging/target/
/vogon-packaging/vogon-ui-javafx/target/
/vogon-packaging/vogon-distribution/target/
/vogon-ui/target/
/vogon-resources/target/
/vogon-data/target/
/vogon-web/target/
/vogon-data/vogon-data-standalone/target/
/vogon-data/vogon-data-model/target/
/vogon-packaging/vogon-web/target/
/vogon-web/vogon-web-service/target/