att-data/target/
att-ui/target/
att-packaging/target/
att-resources/target/
.idea/libraries
*.fxml.bak
/att-distribution/target/
/Target/
/att-resources - Copy/target/
/jasper-fonts/target/
/dynamicreports-shade/target/