.editable {
	cursor: pointer
}

.total-amount {
	font-style: italic;
}

input[type=file].form-control-file {
	display: inline-block;
}

.center-contents {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}
